*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* background color */
body {
    background-color: #ffffff;
}
/* Header section style */
header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 35px;
    top: 0;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color:darkslategray;
    margin-top: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: darkslategray;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}


header nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
header nav ul li a{
    text-decoration: none;
    color: darkslategrey;
    font-weight: bold;
    font-size: xx-large;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    color: #ff6b7a;
}

/* Hero section style */
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:center;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.avatar {
    width: 40%;
}

.hero-intro h1 {
    font-size: 100px;
    color:darkslategrey;
    margin-bottom: 25px;
    line-height:10vh;
}

span {
    color: #ff6b7a;
}

.hero-intro a{
    background-color: #ff6b7a;
    padding: 15px 100px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 5px 0;
    border-radius: 50px;
    font-size: 30px;
}

img {
    height: 100%;
    width: 100%;
}


.section-title {
    font-size: 48px;
    color:  #ff6b7a;
    border-bottom: 3px solid ;
    padding-bottom: 20px;
    text-align: center;
    margin: 30px auto 35px auto;
    width: 8%;
    padding-top: 5%;
}

/* About me section */
.about-me {
    background-color: darkslategrey;
    padding: 5%;
}
.about-me p {
    line-height: 1.7;
    color: #fff;
    width: 80%;
    margin: 0 auto 10% auto;
    font-size: 20px;
    text-align: center;
}

/* Projects section */
.work {
    max-width: 1242px;
    margin: 24px auto;
    height: 613px;
    display: flex;
}
.box1 {
    border: 2px solid #333;
    padding-bottom: 0;
    position: relative;
}

.runbuddy h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color:#fff;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.box2 {
    position: relative;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    height: 50%;
}

.robotgladiator h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding:auto;
    color: black; 

}

.box3 {
    position: relative;
    height: 50%;
    border-right: 2px solid #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}

.text-overlay {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.calculator h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color:black

}


/* Contact section */
.contact {
    background: darkslategrey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3%;
}
  
.contact-info {
    margin-left: 25%;
    margin-top: 70px;
    padding: 50px;
}

  
.contact-info h3 {
    color: #ff6b7a;
    font-size: 35px;    
}
    
.contact-info p {
    line-height: 1.5;
    font-size: 25px;
    font-style: normal;
    color:#fff;
}
  
.contact-form {
    margin-right: 40%;
    margin-top: 50px;
}

.contact-form h3 {
    color: #ff6b7a;
    font-size: 35px;  
}

.contact-form input, .contact-form textarea {
    border: 1px solid grey;
    border-radius: 10px;
    display: block;
    padding: 7px 20px;
    font-size: 16px;
    color: gray;
    width: 200%;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.75);
}
  
.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
}
  
.contact-form button {
    width: 200%;
    border: none;
    border-radius: 10px;
    background: #ff6b7a;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}
  
.contact-form button:hover {
    color: red;
    background: white;
}
  
.contact-info a {
      color: #ff6b7a;
}


/* Responsive layout section media query */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
    }

    .hero-intro, .avatar {
        width: 70%;
        margin: auto;
        
    }

    .hero-intro {
        text-align: center;
 
    }

    .hero-intro h1 {
        font-size: 75px;
    }
    .section-title {
        width: 80%;
    }
    .contact-info {
        flex:1 100%;
    }

    .runbuddy span {
        font-size: 25px ;
    }

    .container span {
        font-size: 20px;
    }

}

@media screen and (max-width: 1242px) {
    .work {
        flex-direction: column;
        height: initial;
    }
}


@media screen and (max-width: 768px) {

    section, header {
        padding: 30px, 15px;
    }
}


    



    