*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


body {
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 35px;
    top: 0;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color:darkslategray;
    margin-top: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: darkslategray;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}


header nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
header nav ul li a{
    text-decoration: none;
    color: darkslategrey;
    font-weight: bold;
    font-size: xx-large;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    color: #ff6b7a;
}

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:center;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.avatar {
    width: 40%;
}

.hero-intro h1 {
    font-size: 100px;
    color:darkslategrey;
    margin-bottom: 25px;
    line-height:10vh;
}

span {
    color: #ff6b7a;
}

.hero-intro a{
    background-color: #ff6b7a;
    padding: 15px 100px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 5px 0;
    border-radius: 50px;
    font-size: 30px;
}

img {
    height: 100%;
    width: 100%;
}


.section-title {
    font-size: 48px;
    color:  #ff6b7a;
    border-bottom: 3px solid ;
    padding-bottom: 20px;
    text-align: center;
    margin: 30px auto 35px auto;
    width: 8%;
    padding-top: 5%;
}

.about-me {
    background-color: darkslategrey;
    padding: 5%;
}
.about-me p {
    line-height: 1.7;
    color: #fff;
    width: 80%;
    margin: 0 auto 10% auto;
    font-size: 20px;
    text-align: center;
}


.work {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items:center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.box1 {
    border: 2px solid #333;
    margin: auto;
    padding-bottom:0;

}

.img1 {
    flex: 3;
    background-size: cover;
    background-position: center;
}

.runbuddy {
    margin: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color:darkslategray;
}

.container {
    margin-right: 20%;

}
.box2 {
    border: 2px solid #333;
    margin-bottom: 2rem;
    background-size:cover;
    background-position: center;
}

.robotgladiator {
    font-size: 2rem;
    font-weight: 600;
    padding:auto;
    color: darkslategray; 

}


.box3 {
    border: 2px solid #333;
    margin-bottom: 2rem;
    background-size:cover;
    background-position: center;
}

.calculator {
    font-size: 2rem;
    font-weight: 600;
    padding:auto;
    color: darkslategray;

}

.contact {
    background: darkslategrey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3%;
}
  
.contact-info {
    margin-left: 25%;
    margin-top: 70px;
    padding: 50px;
}

  
.contact-info h3 {
    color: #ff6b7a;
    font-size: 35px;    
}
    
.contact-info p {
      line-height: 1.5;
      font-size: 25px;
      font-style: normal;
      color:#fff;
}
  
.contact-form {
    margin-right: 40%;
    margin-top: 50px;
}

.contact-form h3 {
    color: #ff6b7a;
    font-size: 35px;  
}

.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    display: block;
    padding: 7px 20px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 200%;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.75);
}
  
.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
}
  
.contact-form button {
    width: 200%;
    border: none;
    border-radius: 10px;
    background: #ff6b7a;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}
  
.contact-form button:hover {
    color: red;
    background: white;
}
  
.contact-info a {
      color: #ff6b7a;
}




@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
    }

    .hero-intro, .avatar {
        width: 100%;
    }

    .hero-intro {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }
    .contact-info {
        flex:1 100%;
    }
}

@media screen and (max-width: 768px) {

    section, header {
        padding: 30px, 15px;
    }

    


}